<article class="flex flex-col sm:flex-row gap-5 border-light border-b mb-14">
    <div>
        <img src="/imgs/works/work-thumbnail.png" class="sm:max-w-48 rounded-lg" alt="Work thumbnail">
    </div>
    <div class="flex flex-col gap-5">
        <h3 class="font-bold text-2xl">
            Rediseño de sitio web de empresa proveedora de servicios de internet.
        </h3>
        <div class="flex items-center justify-start gap-2 ">
            <span class="text-center text-white text-base rounded-full bg-dark font-bold px-4 py-1"> 2024 </span>
            <span  class="text-light"> Desarrollo web </span>
        </div>
        <p class="text-[#21243D] mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo earum ea laborum tenetur quibusdam minus voluptates repellendus in? Error enim facilis modi, minima dolorum ducimus saepe itaque et architecto nostrum.
        </p>
    </div>
</article>
