<header class="h-12 p-6 flex items-center justify-end text-dark sm:px-20 lg:px-64 sm:py-10">
    <svg class="cursor-pointer sm:hidden" xmlns="http://www.w3.org/2000/svg" x-bind:width="size" x-bind:height="size" viewBox="0 0 24 24" fill="none" stroke="currentColor" x-bind:stroke-width="stroke" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
        <path d="M4 6l16 0"></path>
        <path d="M4 12l16 0"></path>
        <path d="M4 18l16 0"></path>
    </svg>

    <nav class="hidden sm:block">
    <ul class="flex gap-8 items-center justify-end text-xl">
        <li><a href="#" class="hover:text-primary">Portafolio </a></li>
        <li><a href="#" class="hover:text-primary">Blog</a></li>
        <li><a href="#" class="hover:text-primary">Contacto</a></li>
    </ul>
    </nav>

</header>
