<section class="mx-auto p-6 flex flex-col items-center justify-between text-center sm:flex-row sm:gap-4 sm:px-20 lg:px-32 sm:py-20 ">
    <div class="sm:order-last">
        <div class="mb-8 w-44 sm:w-44 lg:w-64 aspect-square rounded-full bg-[url('/imgs/profile-photo.jpg')] bg-top bg-cover"></div>
    </div>

    <div class="flex flex-col items-center gap-6 sm:items-start sm:max-w-md sm:text-left">
        <h1 class="text-3xl sm:text-4xl font-bold">
            Hi, I am Jhon, <span class="hidden sm:inline"><br></span> Creative Technologist
        </h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea in et possimus unde nulla est dolorem dolore tempora? Veniam doloribus aperiam quis esse commodi qui aliquid iure ipsum. Vel, quidem?
        </p>
        <a href="#" class="max-w-64 bg-primary px-5 py-2 text-white font-medium rounded-md mb-14 hover:bg-primary/90 sm:mb-0">Descargar CV</a>
    </div>
</section>
