<section class="p-6 flex flex-col items-center justify-center text-center">
    <div class="mb-8 w-44 aspect-square rounded-full bg-[url('/imgs/profile-photo.jpg')] bg-top bg-cover"></div>
    <h1 class="text-3xl bold mb-5">
        Hi, I am Jhon, Creative Technologist
    </h1>
    <p class="mb-7">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea in et possimus unde nulla est dolorem dolore tempora? Veniam doloribus aperiam quis esse commodi qui aliquid iure ipsum. Vel, quidem?
    </p>
    <a href="#" class="bg-primary px-5 py-2 text-white font-medium rounded-md mb-14 hover:bg-primary/90">Descargar CV</a>
</section>
