---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const date = new Date(post.data.date);
const options = { day: 'numeric', month: 'short', year: 'numeric' };
const formattedDate = date.toLocaleDateString('es-ES', options);
---

<article class="bg-white flex flex-col gap-3 items-start text-left py-8 px-6 mb-4">
    <h2 class="font-bold text-2xl">
        { post.data.title }
    </h2>
    <div class="font-light">
        {formattedDate} | <span class="text-light">{ post.data.tags.map((tag,index) => {
          if(index + 1 === post.data.tags.length)
            return tag
          else
            return `${tag}, `
        }) }</span>
    </div>
    <p>
        {post.data.extract}
    </p>
</article>
