<article class="bg-white flex flex-col gap-3 items-start text-left py-8 px-6 mb-4">
    <h2 class="font-bold text-2xl">
        Making a design system from scratch
    </h2>
    <div class="font-light">
        12 Feb 2024 | <span class="text-light">Design, Pattern</span>
    </div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolorum accusamus inventore debitis neque saepe consequatur voluptas deleniti. Atque, aspernatur.
    </p>
</article>
